/*
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url(https://db.onlinewebfonts.com/c/f5610d09911b870646ea17fecca30399?family=Aquino+Demo);
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }
  /*
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  */
  .dark {
    --gradient: #7de2fc;

    --background: 204 61.75% 5.92%;
    --foreground: 204 9.5% 98.7%;

    --muted: 204 95% 22.2%;
    --muted-foreground: 204 9.5% 57.4%;

    --popover: 204 98.25% 9.62%;
    --popover-foreground: 204 9.5% 98.7%;

    --card: 204 98.25% 9.62%;
    --card-foreground: 204 9.5% 98.7%;

    --border: 204 95% 22.2%;
    --input: 204 95% 22.2%;

    --primary: 204 95% 74%;
    --primary-foreground: 204 9.5% 7.4%;

    --secondary: 204 95% 22.2%;
    --secondary-foreground: 204 9.5% 98.7%;

    --accent: 204 95% 22.2%;
    --accent-foreground: 204 9.5% 98.7%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 204 9.5% 98.7%;

    --ring: 204 95% 74%;
  }
}

@layer base {
  @font-face {
    font-family: "Aquino Demo";
    src: url("@Aquino") format("woff");
  }

  @font-face {
    font-family: "Nunito", sans-serif;
    src: url("@Nunito") format("truetype");
  }
  * {
    @apply border-border;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .aquino {
    font-family: "Aquino Demo";
  }
  .gradient-text {
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200% 900%;
    animation: gradientAnimation 10s linear infinite;
  }
  @keyframes gradientAnimation {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
  .mesh {
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(#000000 0.55px, #ffffff 0.55px);
    background-size: 11px 11px;
  }
  .mesh-dark {
    background-color: #000000;
    opacity: 1;
    background-image: radial-gradient(#ffffff 0.55px, #000000 0.55px);
    background-size: 11px 11px;
  }
  .heal {
    background-color: #ffffff;
    opacity: 0.9;
    background:
      radial-gradient(
        circle,
        transparent 20%,
        #ffffff 20%,
        #ffffff 80%,
        transparent 80%,
        transparent
      ),
      radial-gradient(
          circle,
          transparent 20%,
          #ffffff 20%,
          #ffffff 80%,
          transparent 80%,
          transparent
        )
        10px 10px,
      linear-gradient(#000000 0.8px, transparent 0.8px) 0 -0.4px,
      linear-gradient(90deg, #000000 0.8px, #ffffff 0.8px) -0.4px 0;
    background-size:
      20px 20px,
      20px 20px,
      10px 10px,
      10px 10px;
  }
  .heal-dark {
    background-color: #000000;
    opacity: 0.9;
    background:
      radial-gradient(
        circle,
        transparent 20%,
        #000000 20%,
        #000000 80%,
        transparent 80%,
        transparent
      ),
      radial-gradient(
          circle,
          transparent 20%,
          #000000 20%,
          #000000 80%,
          transparent 80%,
          transparent
        )
        10px 10px,
      linear-gradient(#ffffff 0.8px, transparent 0.8px) 0 -0.4px,
      linear-gradient(90deg, #ffffff 0.8px, #000000 0.8px) -0.4px 0;
    background-size:
      20px 20px,
      20px 20px,
      10px 10px,
      10px 10px;
  }
  .gridbg-dark {
    background-color: #000000;
    opacity: 0.8;
    background-image: linear-gradient(
        #ffffff 0.6000000000000001px,
        transparent 0.6000000000000001px
      ),
      linear-gradient(
        to right,
        #ffffff 0.6000000000000001px,
        #000000 0.6000000000000001px
      );
    background-size: 12px 12px;
  }
  .gridbg {
    background-color: #ffffff;
    opacity: 0.8;
    background-image: linear-gradient(
        #000000 0.6000000000000001px,
        transparent 0.6000000000000001px
      ),
      linear-gradient(
        to right,
        #000000 0.6000000000000001px,
        #ffffff 0.6000000000000001px
      );
    background-size: 12px 12px;
  }
  .stroke {
    -webkit-text-stroke: 1px #000000;
    text-stroke: 1px #000000;
  }
  .stroke-dark {
    -webkit-text-stroke: 1px #02ff00;
    text-stroke: 1px #02ff00;
  }

  .spinner {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
  }
  .spinner .path {
    stroke: #93bfec;
    stroke-linecap: round;
    -webkit-animation: dash 1.5s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite;
  }

  @-webkit-keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }

  body {
    @apply bg-background text-foreground;
  }
}
